<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UNKO_Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CBB0ABE1F8B6C66006561DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CBB0AD21F8B6C66006561DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CBB0ADD1F8B6C66006561DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
